---
layout: default
title: Home
---

{% if page.url == "/" %}

<!-- Image Above Featured Posts
================================================== -->
<img src="landing.png" alt="Mechanical DAMP Blog" style="width: 100%; margin-bottom: 20px;"/>
<br />

{% endif %}

<!-- Featured
================================================== -->
<!-- <section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>
    <div class="row">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section> -->

<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">
        <h2><span>Courses Reviews</span></h2>
    </div>

    <div class="section-title">
        <span>Course Reviews: Find detailed reviews covering whatever courses you're interested in across all aspects, be it depth of content, analytical or mathematical rigor, pace and quality of teaching, exposure to subject and much more</span>
    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>



